{
	"alternate_base": "#{{base00-hex}}",
	"base": "#{{base01-hex}}",
	"bright_text": "#{{base06-hex}}",
	"button": "#{{base01-hex}}",
	"chat_timestamp": "#{{base03-hex}}",
	"disabled_button": "#{{base01-hex}}",
	"disabled_icon": "#{{base02-hex}}",
	"disabled_text": "#{{base03-hex}}",
	"highlight": "#{{base04-hex}}",
	"highlighted_text": "#{{base01-hex}}",
	"icon": "#{{base03-hex}}",
	"shadow": "#{{base01-hex}}",
	"text": "#{{base05-hex}}",
	"unread_badge": "#{{base03-hex}}",
	"unread_badge_text": "#{{base01-hex}}",
	"window": "#{{base00-hex}}"
}